In [97]:
import netCDF4 as nc
import numpy as np
import pandas as pd

In [98]:
# read data

# general variable data
ds = nc.Dataset("/Users/hauke/Ironhack/GitHub/Labs/Week_5_Midterm_Project/data/ERA5_SFC_MM_2021_10_FLOAT.nc")

# data for sea ice in september
ds_sit_sep = nc.Dataset("/Users/hauke/Ironhack/GitHub/Labs/Week_5_Midterm_Project/data/ERA5_SIC_202101-202110.nc")

In [99]:
# print information stores in data
#print(ds.__dict__)

In [100]:
# print dimensions
for dim in ds.dimensions.values():
    print(dim)

<class 'netCDF4._netCDF4.Dimension'>: name = 'lon', size = 384
<class 'netCDF4._netCDF4.Dimension'>: name = 'lat', size = 192
<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 1
<class 'netCDF4._netCDF4.Dimension'>: name = 'bnds', size = 2

In [101]:
# print variable metadata
#for var in ds.variables.values():
#    print(var)

In [117]:
# print information for specific variable 
# print(ds_sit_sep['sic'])

The dimensions are time (1 or 10 in the case of the additional sea ice file), lat (192) and lon (384).

In [118]:
# access data values
sst = ds["tos"][0,:,:]       # sea surface temperature
sit_oct = ds["sic"][0,:,:]   # october sea ice 
snd = ds["snd"][0,:,:]       # snow depth
ta = ds["ta100"][0,:,:]      # stratospheric temperature in 100 hPa
                                    # choose only september (=month 9) from months january(=1) - october(=10)
sit_sep = ds_sit_sep["sic"][9,:,:]  # september sea ice (taken from other file, see above)

### Calculate mean of September and October sea ice variable

In [126]:
# create empty numpy array to fill in with mean values of september and october sea ice values
x = np.zeros((192,384))

numpy.ndarray